<mat-toolbar color="primary" style="height: 80px; font-size: 35px;">
  <mat-toolbar-row style="align-items: center;">
    <span class="material-symbols-outlined" style="font-size: 55px;padding-top: 15px; cursor: pointer;" (click)="URL_to_mian()">
      playlist_add_check_circle
      </span>
      <span style="padding-top: 10px; cursor: pointer;" (click)="URL_to_mian()" >AutoHelpSystem</span>
      <span class="example-spacer"></span>
      <span style="cursor: pointer; font-size:15px; padding-top: 20px; margin: 0;margin-right:  1%; font-size: 16px; font-weight: 1000;" (click)="open_editsystem()" *ngIf="administrator_switch">管理設定</span>
      <span (click)="openCancelOrderComponent()" style="cursor: pointer; font-size:15px; padding-top: 20px; margin: 0;margin-right:  1%; font-size: 16px; font-weight: 1000; text-align: center;" >取消申請單</span>
      <span style="cursor: pointer; font-size:15px; padding-top: 20px; margin: 0;margin-right:  1%; font-size: 16px;" (click)="URL_to_Administrator()" *ngIf="administrator_switch">Administrator</span>
      <span style="font-size:15px; padding-top: 20px;">{{User_Name}}</span>
      <span class="material-symbols-outlined" style="font-size: 20px; padding-top: 15px;">
        person_filled
        </span>
  </mat-toolbar-row>

